p{
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
html {
    box-sizing: border-box;
  }
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
h2 {
  margin: 0;
}
body {
  font-family: "Tinos";
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #E5E5E5;
}
a {
  text-decoration: none; 
  &:link {
    color: #fff;
  }
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #bb743a;
  }
  &:active {
    color: #995d2b;
  }
}

.conteiner {
  margin: 0 auto;
  max-width: 1130px;
  padding: 0 10px;
  width: 100%;
  
}
.title_color{
  color: #D67E35;
}
@import "block/button.scss"; 
@import "block/fonts.scss";
@import "block/header.scss";
@import "block/history.scss";




 
  




