html {
    box-sizing: border-box;
  }
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Tinos";
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.conteiner {
  margin: 0 auto;
  max-width: 1130px;
  padding: 0 10px;
  width: 100%;
}
  
@import "block/fonts.scss";
@import "block/header.scss";
@import "block/button.scss";





